<html>
<head>
</head>
<body>
Welcome to my project

{% if login == "False" %}
<form action="/login" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>

<form action = "/signup" method = "POST">
<input type = "username" name = "username" value = "Enter your username">
<input type = "name" name = "name" value = "Enter your name">
<input type = "email" name = "email" value = "Enter your email">
<input type = "password" name = "password" value = "Create your password">
<input type = "submit" value = "sign up">

{% else %}

Here is a list of pages you can go to, {{ session["user_id"] }}

<br>
Here are the pages you can go to: <br>
<a href = "/products">All Products</a><br>
"<b><a href = '/logout'>click here to log out</a></b>"
  
{% endif %}
</body>
</html>

