<html>
<head>
</head>
<body>
Welcome to my project

{% if login == "False" %}
<form action="/login" method="POST">
 <p><input type="username" name="username" placeholder="Username"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <p><input type="submit" value="Log in"></p>
</form>
<br>
<form action = "/signup" method = "POST"></p>
<p><input type = "username" name = "username" placeholder = "Enter your username"></p>
<p><input type = "name" name = "name" placeholder = "Enter your name"></p>
<p><input type = "email" name = "email" placeholder = "Enter your email"></p>
<p><input type = "password" name = "password" placeholder = "Create your password"></p>
<p><input type = "submit" value = "sign up"></p>
<br>
<p><input type = "radio" name = "accounttype" value ="seller">seller
</br></p>
<p><input type = "radio" name = "accounttype" value ="buyer">buyer<br>
</br></p>
{% else %}

Here is a list of pages you can go to, {{ session["user_id"] }}
{% if (session["accounttype"] == "seller") %}
	<a href = "/Add_products">Add products</a><br>	
	<a href = "/products">All Products</a><br>
	
{% else %}
	<br>
	Here are the pages you can go to: <br>
	<a href = "/products">All Products</a><br>
{% endif %}	
"<b><a href = '/logout'>click here to log out</a></b>"
{% endif %}
</body>
</html>

